<launch>
  <!-- <param name="/use_sim_time" value="true"/> -->

  <arg name="depth_registered_topic" default="/depth_registered/image"/>
  <arg name="depth_camera_info_topic" default="/depth_registered/camera_info" />
  <arg name="rgb_topic" default="/rgb_undistorted/image" />
  <arg name="rgb_camera_info_topic" default="/rgb_undistorted/camera_info" />

  <arg name="depth_segmentation_params_name" default="$(find depth_segmentation)/cfg/monstah_config.yaml"/>
  <node name="depth_segmentation_node" pkg="depth_segmentation" type="depth_segmentation_node" output="log">
    <rosparam command="load" file="$(arg depth_segmentation_params_name)"/>
    <remap from="/camera/depth_registered/image_raw" to="$(arg depth_registered_topic)"/>
    <remap from="/camera/rgb/image_raw" to="$(arg rgb_topic)" />
    <remap from="/camera/depth/camera_info" to="$(arg depth_camera_info_topic)" />
    <remap from="/camera/rgb/camera_info" to="$(arg rgb_camera_info_topic)" />
    <param name="dilate_depth_image" value="true"/>
  </node>

  <arg name="gsm_node_params_name" default="$(find gsm_node)/cfg/tango.yaml"/>
  <node name="gsm_node" pkg="gsm_node" type="gsm_node" output="screen">
    <rosparam command="load" file="$(arg gsm_node_params_name)"/>
    <param name="world_frame_id" value="map"/>
    <param name="camera_frame_id" value="camera0"/>
    <param name="publish_feature_blocks_marker" value="true"/>
  </node>

  <node name="rgbd_feature_node" pkg="modelify_ros" type="rgbd_feature_node" output="screen">
    <param name="rgb_image_sub_topic" value="$(arg rgb_topic)"/>
    <param name="depth_image_sub_topic" value="$(arg depth_registered_topic)"/>
    <param name="rgb_info_sub_topic" value="$(arg rgb_camera_info_topic)"/>
    <param name="depth_info_sub_topic" value="$(arg depth_camera_info_topic)"/>
    <param name="keypoints_pub_topic" value="keypoints"/>
    <param name="descriptors_pub_topic" value="descriptors"/>
    <param name="image_with_keypoints_pub_topic" value="image_with_keypoints"/>
    <param name="features_pub_topic" value="features"/>
    <param name="publish_pointcloud" value="true"/>
  </node>

</launch>
