<launch>
  <arg name="tango" default="true" />
  <arg name="dilate_depth" default="$(arg tango)" />

  <arg name="depth_registered_topic" default="/depth_registered/image" unless="$(arg tango)"/>
  <arg name="depth_registered_topic" default="/depth_registered/image" if="$(arg tango)"/>
  <arg name="rgb_topic" default="/rgb_undistorted/image" />
  <arg name="depth_camera_info_topic" default="/depth_registered/camera_info" />
  <arg name="rgb_camera_info_topic" default="/rgb_undistorted/camera_info" />


  <!-- <arg name="depth_segmentation_params_name" default="$(find depth_segmentation)/cfg/tango_coconut_config.yaml"/> -->
  <arg name="depth_segmentation_params_name" default="$(find depth_segmentation)/cfg/monstah_config.yaml"/>
  <rosparam command="load" file="$(arg depth_segmentation_params_name)" if="$(arg tango)"/>


  <node name="image_filter_node" pkg="depth_segmentation" type="image_filter.py" output="screen" if="$(arg dilate_depth)">
    <remap from="/image_raw" to="$(arg depth_registered_topic)" />
  </node>

  <node name="depth_segmentation_node" pkg="depth_segmentation" type="depth_segmentation_node" output="log">
    <remap from="/camera/depth_registered/image_raw" to="$(arg depth_registered_topic)" unless="$(arg dilate_depth)"/>
    <remap from="/camera/depth_registered/image_raw" to="/image_filtered" if="$(arg dilate_depth)"/>
    <remap from="/camera/rgb/image_raw" to="$(arg rgb_topic)" />
    <remap from="/camera/depth/camera_info" to="$(arg depth_camera_info_topic)" />
    <remap from="/camera/rgb/camera_info" to="$(arg rgb_camera_info_topic)" />
  </node>

  <arg name="sliding_window" default="false"/>
  <arg name="imu_frame" default="imu"/>
  <arg if="$(arg sliding_window)" name="gsm_node_params_name" default="$(find gsm_node)/cfg/monstah.yaml"/>
  <arg if="$(arg sliding_window)" name="camera_frame" default="camera0"/>
  <arg unless="$(arg sliding_window)" name="gsm_node_params_name" default="$(find gsm_node)/cfg/tango.yaml"/>

  <node name="gsm_node" pkg="gsm_node" type="gsm_node" output="screen" args="--v=3 --icp_mini_batch_size=200 --icp_refine_roll_pitch=true --icp_min_match_ratio=0.8">
    <rosparam command="load" file="$(arg gsm_node_params_name)" />
    <param name="enable_icp" value="true"/>
    <param name="keep_track_of_icp_correction" value="true"/>

    <param if="$(arg sliding_window)" name="camera_frame_id" value="$(arg camera_frame)"/>
    <param if="$(arg sliding_window)" name="sliding_window/imu_frame" value="$(arg imu_frame)"/>
  </node>
</launch>
