<launch>
  <arg name="rgb_topic" default="/camera/rgb/image_raw" />
  <arg name="depth_registered_topic" default="/camera/depth/image_raw"/>
  <arg name="depth_camera_info_topic" default="/camera/depth/camera_info" />
  <arg name="rgb_camera_info_topic" default="/camera/rgb/camera_info" />
  <arg name="segmentation_topic" default="/rgbd_segmentation_node/segmentation" />

  <node name="rgbd_segmentation_node" pkg="rgbd_segmentation" type="rgbd_segmentation_node.py" output="screen">
      <remap from="~rgb_input" to="$(arg rgb_topic)" />
      <remap from="~depth_input" to="$(arg depth_registered_topic)" />
      <param name="~segmentation_mode" value="instance_segmentation" />
     <param name="~visualize" value="true" />
  </node>

  <node name="depth_segmentation_node" pkg="depth_segmentation" type="depth_segmentation_node" output="screen">
    <remap from="/camera/depth_registered/image_raw" to="$(arg depth_registered_topic)" />
    <remap from="/camera/rgb/image_raw" to="$(arg rgb_topic)" />
    <remap from="/camera/depth/camera_info" to="$(arg depth_camera_info_topic)" />
    <remap from="/camera/rgb/camera_info" to="$(arg rgb_camera_info_topic)" />
    <remap from="/rgbd_segmentation_node/segmentation" to="$(arg segmentation_topic)" />
  </node>

  <arg name="gsm_node_params_name" default="$(find gsm_node)/cfg/scenenn.yaml"/>

  <node name="gsm_node" pkg="gsm_node" type="gsm_node" output="screen">
    <rosparam command="load" file="$(arg gsm_node_params_name)" />
  </node>
</launch>
