<launch>
      <node name="rovioli" pkg="rovioli" type="rovioli"
            output="screen" args = "--alsologtostderr=1 --v=2
      --ncamera_calibration=$(find rovioli)/share/ncamera-tango.yaml
      --imu_parameters_maplab=$(find rovioli)/share/imu-tango.yaml
      --imu_parameters_rovio=$(find rovioli)/share/imu-sigmas-rovio.yaml
      --datasource_type=rostopic
      --save_map_folder=/home/sebastian/Desktop/rovioli_map
      --map_builder_save_image_as_resources=false
      --optimize_map_to_localization_map=false" />
</launch>
