<launch>
      <arg name="slim" default="false"/>
      <group unless="$(arg slim)">
            <arg name="tf_frames_param" default="$(find gsm_node)/cfg/tango_extrinsics.yaml"/>
            <node name="rovioli_marker_to_tf" pkg="gsm_node" type="gsm_node_util" output="screen">
                  <rosparam command="load" file="$(arg tf_frames_param)" />
            </node>

            <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server" output="screen">
                  <param name="target_frame_name" type="string" value="/world" />
                  <param name="source_frame_name" type="string" value="/depth" />
                  <param name="trajectory_update_rate" type="double" value="4" />
                  <param name="trajectory_publish_rate" type="double" value="0.25" />
            </node>
      </group>
      <node name="rovioli" pkg="rovioli" type="rovioli"
            output="screen" args = "--alsologtostderr=1 --v=2
      --ncamera_calibration=$(find rovioli)/share/ncamera-kalibr.yaml
      --imu_parameters_maplab=$(find rovioli)/share/imu-tango.yaml
      --imu_parameters_rovio=$(find rovioli)/share/imu-sigmas-rovio.yaml
      --datasource_type=rostopic
      --save_map_folder=/tmp/rovioli_map
      --map_builder_save_image_as_resources=false
      --optimize_map_to_localization_map=false" />
</launch>
